/* Anchorların altı çizili ve mavi görünmemesini sağlar */
.anchor {
    text-decoration: none;
    color: black;
}

/* Navigation icindeki butonlarin renk, kenarlik rengi ve kenarlik yuvarlatmasi ozellestirmeleri */
.navbarButton {
    background-color: khaki;
    border-radius: 5px;
    border-width: 1px;
}

/* Sayfa içeriğinin ortalanmasını sağlar */
body {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
    /* Font ozellestirmesi */
}

/* Site basligi renk ozellestirmesi */
#siteBasligi {
    color: orangered;
}

/* Sayfa basligi renk ozellestirmesi */
#sayfaBasligi {
    color: mediumblue;
}

.urunler>img {
    width: 20em;
    /* Urun fotograflarının boyut özelleştirmesi */
}